BOT_TOKEN=your_telegram_bot_token_here
BOT_ADMIN_IDS=
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=bot_tools
OPENROUTER_WEBHOOK_SECRET=
WEBHOOK_BASE_URL=https://bot-tools-ebon.vercel.app
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_APPLICATION_ID=your_discord_application_id_here
DISCORD_PUBLIC_KEY=your_discord_public_key_here
